[submodule "scripts/ModelTree"]
	path = scripts/ModelTree
	url = https://github.com/Bouty92/ModelTree
[submodule "scripts/gmr"]
	path = scripts/gmr
	url = https://github.com/Bouty92/gmr
[submodule "Filters"]
	path = Filters
	url = git://github.com/Bouty92/Filters
[submodule "scripts/MachineLearning"]
	path = scripts/MachineLearning
	url = git://github.com/Bouty92/MachineLearning.git
